
header{
    background-color: #00FF80;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation span{
    padding: 15px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover{
    color: yellow;
}
    
footer{
    background-color: #00FF80;
    padding: 10px;
}
.logos{
    display: inline;
}
.quit{
    float: right;
    padding: 20px;
}
.logos{
    list-style: none;
}
.info{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.info button{
    padding: 15px;
    border-radius: 9px;
    border: none;
    background-color: #00FF80;
    cursor: wait;
}
.info button:hover{
    color: red;
}

footer{
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
}

.members{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.membersp{
    border-radius: 50%;
    width: 100%;
}
.feedback{
    padding: 15px;
    border: none;
    border-radius: 9px;
    margin: 30px;
    background-color: #00FF80;
    cursor: pointer;
}
.feedback:hover{
    color: red;
}
.feeds{
    text-align: center;
}
.img{
    display: flex;
    justify-content: space-around;
}
