
header{
    background-color: #00FF80;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation span{
    padding: 15px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover{
    color: black;
}
    
footer{
    background-color: #00FF80;
    padding: 10px;
}
.logos{
    display: inline;
}
.quit{
    float: right;
    padding: 20px;
}
.logos{
    list-style: none;
}
.info{
    text-align: center;
    
}
button{
    padding: 15px;
    border-radius: 9px;
    border: none;
    background-color: #00FF80;
    cursor: wait;
    font-weight: bold;
}
button:hover{
    color: red;
}

footer{
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
}

.members{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.feedback{
    padding: 15px;
    border: none;
    border-radius: 9px;
    margin: 40px;
    margin-left: 46%;
    background-color: #00FF80;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}
.feedback:hover{
    color: red;
}
.feeds{
    text-align: center;
}
.img{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.members>.memberone{
    width: 50%;
    box-shadow: 10px 10px 8px #888888;
    margin-left: 10px;
    padding-top: 10px;
}
.members>.membertwo{
    width: 50%;
    box-shadow: 10px 10px 10px #888888;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
}
.members>.memberthree{
    width: 50%;
    box-shadow: 10px 10px 8px #888888;
    margin-right: 10px;
    padding-top: 10px;
}
.reserve{
    box-shadow: #888888 10px 10px 6px;
    margin-left: 20px;
    margin-right: 20px;
}
.reserve button{
    margin-left: 50%;
}
.enquiries{
    padding-top: 50px;
}

.aboutone{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.abouttwo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.aboutone>.boutone{
    width: 50%;
    margin-right: 10px;
    box-sizing: border-box;
}
.aboutone>.bouttwo{
    width: 50%;
    margin-left: 10px;
    box-sizing: border-box;
}
.abouttwo>.boutthree{
    width: 50%;
    box-sizing: border-box;
    margin-right: 10px;
}
.abouttwo>.boutfour{
    width: 50%;
    box-sizing: border-box;
    margin-left: 10px;
}